<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>ProvaFrontEndPleno-Desk</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../assets/css/style.css"> 
    <link rel="stylesheet" href="../assets/css/banner.css"> 
    <link rel="stylesheet" href="../assets/css/responsive.css"> 
</head>

<body>
    <section id="banners">

        <div class="text">
            <div class="title">LOREN IPSUN</div>
            <div class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
            <a class="row" href="#carrossel"><img src="../assets/img/icons/down-arrow.png"/></a>
        </div>

        <div class="csslider">
            <input type="radio" name="slides" id="slides_1" checked />
            <input type="radio" name="slides" id="slides_2" />
            <input type="radio" name="slides" id="slides_3" />

            <ul>
                <li><img src="../assets/img/banners/banner-1.png" /></li>
                <li><img src="../assets/img/banners/banner-1.png" /></li>
                <li><img src="../assets/img/banners/banner-1.png" /></li>
   
            </ul>
            <div class="navigation">
                <div>
                    <label for="slides_1"></label>
                    <label for="slides_2"></label>
                    <label for="slides_3"></label>
                
                </div>
            </div>
        </div>
    </section>

     <section id="carrossel">
        <div class="content">
            <div id="slides">
                <input checked type="radio" name="slider" id="slide1" class="set"/>
                <input type="radio" name="slider" id="slide2" class="set"/>
                <input type="radio" name="slider" id="slide3" class="set"/>
                <input type="radio" name="slider" id="slide4" class="set"/>
                <input type="radio" name="slider" id="slide5" class="set"/>
                <input type="radio" name="slider" id="slide6" class="set"/>
                <input type="radio" name="slider" id="slide7" class="set"/>
                <input type="radio" name="slider" id="slide8" class="set"/>
                <input type="radio" name="slider" id="slide9" class="set"/>
                <div class="mask">
                    <div class="overflow">
                        <div class="browser">
                            <div class="slide one">
                                <div class="column left">
                                    <center>
                                        <img src="../assets/img/banners/banner-1.png" />
                                        <h2>LOREM IPSUM</h2>
                                        <div class="text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                                        </div>
                                       
                                    </center>
                                </div>
                                <div class="column right">
                                    <center>
                                        <img src="../assets/img/banners/banner-1.png" />
                                        <h2>LOREM IPSUM</h2>
                                        <div class="text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                                        </div>
                                    </center>                                
                                </div>
                            </div>
                            <div class="slide two">
                                <div class="column left">
                                    <center>
                                        <img src="../assets/img/banners/banner-1.png" />
                                        <h2>LOREM IPSUM</h2>
                                        <div class="text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                                        </div>
                                       
                                    </center>
                                </div>
                                <div class="column right">
                                    <center>
                                        <img src="../assets/img/banners/banner-1.png" />
                                        <h2>LOREM IPSUM</h2>
                                        <div class="text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                                        </div>
                                    </center>                                
                                </div>
                            </div>
                            <div class="slide three">
                                <div class="column left">
                                    <center>
                                        <img src="../assets/img/banners/banner-1.png" />
                                        <h2>LOREM IPSUM</h2>
                                        <div class="text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                                        </div>
                                       
                                    </center>
                                </div>
                                <div class="column right">
                                    <center>
                                        <img src="../assets/img/banners/banner-1.png" />
                                        <h2>LOREM IPSUM</h2>
                                        <div class="text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                                        </div>
                                    </center>                                
                                </div>
                            </div>
                        </div>
                        <div class="responsive">
                            <div class="slide one">
                                <div class="column">
                                    <center>
                                        <img src="../assets/img/banners/banner-1.png" />
                                        <h2>LOREM IPSUM</h2>
                                        <div class="text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                                        </div>
                                       
                                    </center>
                                </div>
                            </div>
                            <div class="slide two">
                                <div class="column">
                                    <center>
                                        <img src="../assets/img/banners/banner-1.png" />
                                        <h2>LOREM IPSUM</h2>
                                        <div class="text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                                        </div>
                                       
                                    </center>
                                </div>
                            </div>
                            <div class="slide three">
                                <div class="column">
                                    <center>
                                        <img src="../assets/img/banners/banner-1.png" />
                                        <h2>LOREM IPSUM</h2>
                                        <div class="text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                                        </div>                                       
                                    </center>
                                </div>      
                            </div>
                            <div class="slide four">
                                <div class="column">
                                    <center>
                                        <img src="../assets/img/banners/banner-1.png" />
                                        <h2>LOREM IPSUM</h2>
                                        <div class="text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                                        </div>                                       
                                    </center>
                                </div>      
                            </div>
                            <div class="slide five">
                                <div class="column">
                                    <center>
                                        <img src="../assets/img/banners/banner-1.png" />
                                        <h2>LOREM IPSUM</h2>
                                        <div class="text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                                        </div>                                       
                                    </center>
                                </div>      
                            </div>
                            <div class="slide six">
                                <div class="column">
                                    <center>
                                        <img src="../assets/img/banners/banner-1.png" />
                                        <h2>LOREM IPSUM</h2>
                                        <div class="text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                                        </div>                                       
                                    </center>
                                </div>      
                            </div>
                            <div class="slide seven">
                                <div class="column">
                                    <center>
                                        <img src="../assets/img/banners/banner-1.png" />
                                        <h2>LOREM IPSUM</h2>
                                        <div class="text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                                        </div>                                       
                                    </center>
                                </div>      
                            </div>
                            <div class="slide eight">
                                <div class="column">
                                    <center>
                                        <img src="../assets/img/banners/banner-1.png" />
                                        <h2>LOREM IPSUM</h2>
                                        <div class="text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                                        </div>                                       
                                    </center>
                                </div>      
                            </div>
                            <div class="slide nine">
                                <div class="column">
                                    <center>
                                        <img src="../assets/img/banners/banner-1.png" />
                                        <h2>LOREM IPSUM</h2>
                                        <div class="text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                                        </div>                                       
                                    </center>
                                </div>      
                            </div>
                        </div>
                    </div>
                </div>

                <div id="controls">
                    <label for="slide1"></label>
                    <label for="slide2"></label>
                    <label for="slide3"></label>
                    <label for="slide4"></label>
                    <label for="slide5"></label>
                    <label for="slide6"></label>
                    <label for="slide7"></label>
                    <label for="slide8"></label>
                    <label for="slide9"></label>
                    <div class="arrow right"><img src="../assets/img/icons/right-arrow.png"/></div>
                    <div class="arrow left"><img src="../assets/img/icons/left-arrow.png"/></div>

                </div>
            </div>
        </div>
    </section>

    <section id="image_text">

        <div class="content">
            <div class="box_image">
            </div>
            <div class="box-text">
                <h2>LOREM IPSUM</h2>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                </p>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                </p>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
                </p>
                
            </div>
        </div>
    </section>

    <section id="accordion">

        <div class="content">
            <button class="accordion">Lorem ipsum  
                <img class="arrow-up" src="../assets/img/icons/up-arrow.png" />
                <img class="arrow-down" src="../assets/img/icons/down-arrow2.png" />
            </button>
            <div class="panel">
                <div class="title">
                    <b>Lorem ipsum</b>
                </div>
                <div class="panel-content">
                    <img src="../assets/img/banners/banner-1.png" />
                    <div class="text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
                    </div>                   
                </div>     
            </div>

            <button class="accordion">Lorem ipsum
                <img class="arrow-up" src="../assets/img/icons/up-arrow.png" />
                <img class="arrow-down" src="../assets/img/icons/down-arrow2.png" />
            </button>
            
            <div class="panel">
                <div class="title">
                    <b>Lorem ipsum</b>
                </div>
                <div class="panel-content">
                    <img src="../assets/img/banners/banner-1.png" />
                    <div class="text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
                    </div>                   
                </div>     
            </div>

            <button class="accordion">Lorem ipsum
                <img class="arrow-up" src="../assets/img/icons/up-arrow.png" />
                <img class="arrow-down" src="../assets/img/icons/down-arrow2.png" /></button>
            <div class="panel">
                <div class="title">
                    <b>Lorem ipsum</b>
                </div>
                <div class="panel-content">
                    <img src="../assets/img/banners/banner-1.png" />
                    <div class="text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
                    </div>                   
                </div>     
            </div>

            <button class="accordion">Lorem ipsum
                <img class="arrow-up" src="../assets/img/icons/up-arrow.png" />
                <img class="arrow-down" src="../assets/img/icons/down-arrow2.png" />
            </button>
            <div class="panel">
                <div class="title">
                    <b>Lorem ipsum</b>
                </div>
                <div class="panel-content">
                    <img src="../assets/img/banners/banner-1.png" />
                    <div class="text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
                    </div>                   
                </div>     
            </div>
        </div>

    </section>

    <section id="form">

        <div class="content">
            <div  class="input-group">                   
                <input type="text" id="name" placeholder="Informe seu nome">
                <label>*Nome:</label>
                <div class="error"><span>Por favor, informe o seu nome.<span></div>
            </div>

            <div class="column">
                <div  class="input-group left">                   
                    <input type="text"  id="email" placeholder="Informe seu E-mail">
                    <label>*E-mail:</label>
                    <div class="error"><span>Por favor, informe o seu E-mail.<span></div>
                </div>
            </div>

            <div class="column right">
                <div  class="input-group">                   
                    <input type="text" id="phone" placeholder="(___) _____-____">
                    <label>*Telefone:</label>
                    <div class="error"><span>Por favor, informe o seu telefone.<span></div>
                </div>
            </div>
            <div  class="input-group text">                   
                <textarea  id="mensage" placeholder="Escreva aqui"></textarea>  
                <label>*Mensagem:</label>
                <div class="error"><span>Por favor, escreva uma mensagem.<span></div>
            </div>
            <div  class="input-group button">                   
                <button id="send-form">ENVIAR</button>
            </div>
            
        </div>


        
    </section>

    <section id="footer">
        <h2>Lorem Ipsum</h2>
    </section>


    <script src="../assets/libs/jquery-3.4.1.js"></script>
    <script src="../assets/libs/jquery.mask.js"></script>
    <script src="../assets/js/script.js"></script>
</body>
</html>